<ul class="nav navbar-nav">
	<li class="dropdown mega-dropdown">
		<a href="#" id="id_list_alert_tab" class="dropdown-toggle" data-toggle="dropdown">Les alertes <b class="caret"></b></a>
		
		<ul class="dropdown-menu mega-dropdown-menu row">
			<li class="col-sm-12">
                <form class="form" role="form">
					<div class="container-fluid">
					    <section class="container">
							<div class="container-page">				
								<div class="col-md-12">
									<h3 class="dropdown-header">Les alertes</h3>
									<div id="list-events" class="container">
									    <div class="row">
									        <div class="panel panel-primary filterable">
									            <div class="panel-heading">
									                <h3 class="panel-title">Alertes</h3>
									                <div class="pull-right" style="margin-top:-6px">
									                    <span class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</span>
									                </div>
									            </div>
									            <table class="table table-hover">
									                <thead>
									                    <tr class="filters">
									                        <th><input type="text" class="form-control" placeholder="Event" disabled></th>
									                        <th><input type="text" class="form-control" placeholder="Type" disabled></th>
									                        <th><input type="text" class="form-control" placeholder="Auteur" disabled></th>
									                        <th><input type="text" class="form-control" placeholder="Details" disabled></th>
									                        <th style="width:200px">User access</th>
									                    </tr>
									                </thead>
									                <tbody>
														<% for(var i=0; i<listEvent.length; i++) {%>
															<% for(var j=0; j<listEvent[i].alerts.length; j++) {%>
															   	<tr >
																	<td><%- listEvent[i].title %></td>
																	<td><%- listEvent[i].alerts[j].type %></td>
																	<td>
																		<% if( listEvent[i].alerts[j].isAnonymous ){%>
																			[Anonyme]
																		<%}
																		else {
																			for(var k=0; k<users.length; k++) {
																				if( users[k].id == listEvent[i].alerts[j].user ){%>
																					<%- users[k].username %>
																				<%}
																			} 
																		}%>
																	</td>
																	<td><%- listEvent[i].alerts[j].details %></td>
																	<td>
																		<div class="list well" style="max-height: 150px;overflow: auto;">
																			<div class="input-group">
																		        <span class="input-group-addon glyphicon glyphicon-search"></span>
																		        <input type="text" name="SearchList" class="form-control" placeholder="search" />
																		    </div>
																			<ul class="list-group checked-list-box">
																				<% for(var l=0; l<users.length; l++) {
																					if( users[l].id!=user.id && users[l].id != listEvent[i].alerts[j].user ){	
																						var found = false; 
																						if( listEvent[i].alerts[j].scouts ) {
																							for (var m=0; m<listEvent[i].alerts[j].scouts.length; m++) {
																								if ( users[l].id == listEvent[i].alerts[j].scouts[m].user ) {
																									found = true;
																								}
																							}
																						}%>
																						<li id="<%-listEvent[i].alerts[j].id%> <%-users[l].id%>" class="user-access list-group-item" data-checked="<%-found%>"><%- users[l].username %></li>
																		        	<%}
																		        }%>
																		    </ul>
																		</div>
										                        	</td>
																</tr>
															<% } %>
														<% } %>
									                </tbody>
									            </table>
									        </div>
									    </div>
									</div>
								</div>
							</div>
						</section>
					</div>
                </form>  
			</li>
		</ul>
	</li>
</ul>
<script src="/js/checked-list-group.js"></script>
<script type="text/javascript">
	$( ".user-access" ).click(function() {
		var params = "alert="+this.id.split(" ")[0]+"&user="+this.id.split(" ")[1];
		var url;

		if ( $(this).attr("data-checked") == "true") {
			$(this).attr("data-checked", "false");
			url = "/scout/destroy";
		} else {
			$(this).attr("data-checked", "true");
			url = "/scout/create";
		}

		$.ajax({
			type: 'POST',
	        url: url,
			data: params,
	        success: function(data) {
	        	//     ...
	        }
	    });
	});
</script>