<!-- dependence : navbar-top-tab2-list-event.ejs -->
<div id="div_map_view" class="panel panel-primary" hidden>
    <div class="panel-heading">
        <h3 class="panel-title">Evénements</h3>
    </div>
    <div id="map_view" style="width:870px;height:600px;"></div>
	<% for(var i=0; i<listEvent.length; i++) {%>
	   	<div class="event" hidden>
			Titre : <%- listEvent[i].title %></br>
			Description : <%- listEvent[i].description %></br>
			Date : <%=: listEvent[i].date | formatDate %></br>
			Type(s) d'alerte : 
			<ul>
				<% for(var j=0; j<listEvent[i].typesAlert.length; j++) {%>
					<li><%- listEvent[i].typesAlert[j].name %></li>
				<% } %>
			</ul></br>
	    	<a href="/event/destroy/<%- listEvent[i].id %>">supprimer</a>
	   	</div>
	<% } %>
</div>
<script type="text/javascript">
    var events = $(".event");
	var map_view;
	var markersMapView = [];
	var infowindowsMapView = [];
	var troyes = {lat: 48.2973451, lng: 4.0744009};

	function initMapView() {
		map_view = new google.maps.Map(document.getElementById('map_view'), {
		    zoom: 8,
		    center: troyes,
		    mapTypeId: google.maps.MapTypeId.TERRAIN
		});

        var coordinates = $(".place");

	    for (var i=0; i<coordinates.length; i++) {
	    	var latlngStr = coordinates[i].id.split(";",2);
	    	var lat = parseFloat(latlngStr[0]);
	    	var lng = parseFloat(latlngStr[1]);

	    	addMarkerMapView({lat: lat, lng: lng});
	    }

		for (var i = 0; i < markersMapView.length; i++) {
			var marker = markersMapView[i];
			var event = events[i].innerHTML.replace("hidden", "");
			google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
			    return function() {
			        infowindow.setContent(content);
			        infowindow.open(map_view,marker);
			    };
		})(marker,event,infowindowsMapView[i]));  
		}
	}

	function addMarkerMapView(location) {
	    infowindowsMapView.push(
	    	new google.maps.InfoWindow({
			content: "holding..."
		}));
	  	marker = new google.maps.Marker({
	    	position: location,
	    	map: map_view
	  	});
		markersMapView.push(marker);
	}

	google.maps.event.addDomListener(window, 'load', initMapView);

	$( "#map_view" ).on( "click", function( event, ui ) {
	    google.maps.event.trigger(map_view, 'resize');
	});
</script>

