<ul class="nav navbar-nav">
	<li class="dropdown mega-dropdown">
		<a href="#" id="id_list_alert_tab" class="dropdown-toggle" data-toggle="dropdown">Mes alertes <b class="caret"></b></a>
		
		<ul class="dropdown-menu mega-dropdown-menu row">
			<li class="col-sm-12">
                <form class="form" role="form">
					<div class="container-fluid">
					    <section class="container">
							<div class="container-page">				
								<div class="col-md-12">
									<h3 class="dropdown-header">Mes alertes</h3>
									<div id="list-events" class="container">
									    <div class="row">
									        <div class="panel panel-primary filterable">
									            <div class="panel-heading">
									                <h3 class="panel-title">Alertes</h3>
									                <div class="pull-right" style="margin-top:-6px">
									                    <span class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</span>
									                </div>
									            </div>
        										<table class="table table-hover table-striped table-bordered" id="table_alert">
									                <thead>
									                    <tr class="filters">
									                        <th><input type="text" class="form-control" placeholder="Event" disabled></th>
									                        <th><input type="text" class="form-control" placeholder="Type d'alerte" disabled></th>
									                        <th><input type="text" class="form-control" placeholder="Auteur" disabled></th>
									                        <th><input type="text" class="form-control" placeholder="Details" disabled></th>
									                        <th><input type="text" class="form-control" placeholder="Place" disabled></th>
									                        <th>Anonyme</th>
                    										<th style="display:none">#</th>
									                        <th class="tabledit-toolbox-column"></th>
									                    </tr>
									                </thead>
									                <tbody>
														<% for(var i=0; i<listAlert.length; i++) {%>
														   	<tr>
																<td><%- listAlert[i].event %></td>
																<td><%- listAlert[i].type %></td>
																<td><img src="/icon/edit_user.jpg"></img> <%- user.username %></td>

                        										<td class="tabledit-view-mode"><span class="tabledit-span"><%- listAlert[i].details %></span><input class="tabledit-input form-control input-sm" type="text" name="description" value="<%- listAlert[i].details %>" style="display: none;" disabled=""></td>
                        										<td><%- listAlert[i].place %></td>

																<td><%- listAlert[i].isAnonymous %></td>
																<td scope="row" style="display:none"><%- listAlert[i].id %></td>

										                        <td style="white-space: nowrap; width: 1px;">
										                            <div class="tabledit-toolbox" style="margin-left: -5px; text-align: right;">
										                            </div>
										                        </td>
															</tr>
														<% } %>
														<% if ( listScout ) {
															for(var i=0; i<listScout.length; i++) {%>
															   	<tr class="scout">
																	<td><%- listScout[i].event %></td>
																	<td><%- listScout[i].type %></td>
																	<td><img src="/icon/read_user.jpg"></img></td>
																	<td><%- listScout[i].details %></td>				
																</tr>
															<% } 
														}%>
									                </tbody>
									            </table>
									        </div>
									    </div>
									</div>
								</div>
							</div>
						</section>
					</div>
                </form>  
			</li>
		</ul>
	</li>
</ul>
<script src="/js/jquery.tabledit.js"></script>
<script type="text/javascript">
    $('#table_alert').Tabledit({
        url: '/alert/tableEdit',
        columns: {
            identifier: [5, 'id'],
            editable: [[3, 'details']]
        },
        buttons: {
            edit: {
                class: 'tabledit-edit-button btn btn-sm btn-warning',
                html: '<span class="glyphicon glyphicon-edit"></span>',
                action: 'edit'
            },
            delete: {
                class:'tabledit-remove-button btn btn-sm btn-danger tabledit-confirm',
                action: 'delete'
            },
            confirm: {
                class: 'btn btn-sm btn-danger',
                html: '<span class="glyphicon glyphicon-remove"></span> Supprimer'
            },
            restore: {
                class: 'btn btn-sm btn-warning',
                html: '<span class="glyphicon glyphicon-cloud-download"></span> Restaurer',
                action: 'restore'
            },
            save: {
                class: 'btn btn-sm btn-success',
                html: '<span class="glyphicon glyphicon-ok"></span> Sauvegarder'
            },
        },
    });
</script>