<div id="inbox" class="tab-pane active">
    <div id="option_checkall" class="option">
        <label><input id="checkall" type="checkbox"/> Tous</label>
    </div>
    <div class="option">
        <a id="btn_remove" href="#" class="glyphicon glyphicon-trash"></a>
    </div>
    <table class="table table-inbox table-bordered">
        <tbody>
            <% for(var i=0; i<listNotification.length; i++) {
                if( listNotification[i].state == '1' ) {%>
                    <tr id="<%- listNotification[i].id %>" class="unread">
                <%} else {%>
                    <tr id="<%- listNotification[i].id %>" class="read">
                <%}%>
                        <td><input type="checkbox"></td>
                        <td class="read_tag"><i class="fa fa-tag"></i></td>
                        <td><%- listNotification[i].username %></td>
                        <td><%- listNotification[i].subject%></td>
                        <td><%- listNotification[i].content%></td>
                        <td class="text-right"><%=: listNotification[i].createdAt | formatDateSails %></td>
                    </tr>
            <%}%>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#checkall").click(function () {
            if ($("#checkall").is(':checked')) {
                $(".table-inbox input[type=checkbox]").each(function () {
                    $(this).prop("checked", true);
                });
            } else {
                $(".table-inbox input[type=checkbox]").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });
    });
    $(".read_tag").click(function () {
        var state = '0';
        if ( $(this).parent()[0].className == 'unread' ) {
            $(this).parent()[0].className = 'read';
            state = '2';
            $("#navbartop_number_notifications")[0].innerHTML = parseInt($("#navbartop_number_notifications")[0].innerHTML) - 1;
            $("#navbarleft_number_notifications")[0].innerHTML = parseInt($("#navbarleft_number_notifications")[0].innerHTML) - 1;
        } else {
            $(this).parent()[0].className = 'unread';
            state = '1';
            $("#navbartop_number_notifications")[0].innerHTML = parseInt($("#navbartop_number_notifications")[0].innerHTML) + 1;
            $("#navbarleft_number_notifications")[0].innerHTML = parseInt($("#navbarleft_number_notifications")[0].innerHTML) + 1;
        }

        var params = "id="+$(this).parent()[0].id+"&state="+state;

        $.ajax({
            type: 'POST',
            url: '/notification/updateState',
            data: params,
        });
    });
</script>