<div id="sent-mail" class="tab-pane">
    <div id="option_checkall_sent" class="option">
        <label><input id="checkall_sent" type="checkbox"/> Tous</label>
    </div>
    <div class="option">
        <a id="btn_remove_sent" href="#" class="glyphicon glyphicon-trash"></a>
    </div>
    <table class="table table-sent-box table-bordered">
        <tbody>
            <% if ( listNotificationSended ) {
                    for(var i=0; i<listNotificationSended.length; i++) {
                    if( listNotificationSended[i].senderState == '1' ) {%>
                        <tr id="<%- listNotificationSended[i].id %>">
                            <td><input type="checkbox"></td>
                            <td class"username"><%- listNotificationSended[i].username %></td>
                            <td><%- listNotificationSended[i].subject%></td>
                            <td><%- listNotificationSended[i].content%></td>
                            <td class="text-right"><%=: listNotificationSended[i].createdAt | formatDateSails %></td>
                        </tr>
                    <%}   
                }
            }%>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#option_checkall_sent").click(function () {
            if ($("#checkall_sent").is(':checked')) {
                $(".table-sent-box input[type=checkbox]").each(function () {
                    $(this).prop("checked", true);
                });
            } else {
                $(".table-sent-box input[type=checkbox]").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });
    });

    $("#btn_remove_sent").click(function(){
        $(".table-sent-box input[type=checkbox]").each(function () {
            if ($(this).is(':checked')) {
                var e = $(this).parent().parent();
                $(this).parent().parent().remove();
                e.find(':checkbox').attr("checked", false);
                e.children()[1].innerHTML = "<img src=\"/icon/edit_user.jpg\"></img>"+e.children()[1].innerHTML;
                
                $("#table-trash-box > tbody").append(e);   

                var params = "id="+e[0].id+"&senderState=2";
                $.ajax({
                    type: 'POST',
                    url: '/notification/updateState',
                    data: params,
                });                 
            }
        });
    });
</script>